//extends layout

doctype html
html
	head
		style
			include ../assets/style.css

body
	div.main
		.head
			h1 When Is The Next Bin?

		div.binDate
			if bins.collectionDate
				p= moment(bins.collectionDate).format('Do MMMM YYYY')
			else
				p Something went wrong! :(

		div.binImage
			case bins.binColour
				when 'PINK'
					img(src="../img/pinkBin.jpg", alt="PINK BIN")
				when 'BLACK'
					p= bins.binColour
				when 'GREEN'
					p= bins.binColour

		div.binText
			case bins.binColour
				when 'PINK'
					p= bins.binColour
				when 'BLACK'
					p= bins.binColour
				when 'GREEN'
					p= bins.binColour

				default
					p Something went wrong! :(
